@using Microsoft.AspNet.Identity
@using TrashCollector.Models
@model TrashCollector.Models.ProfileDetailsViewModel

@{
    ViewBag.Title = "Profile Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_DashboardNav")

<h1>Balance Due: @String.Format("$5.00", Model.AmountDue)</h1>
<div class="col-md-4">
    <h2>Pay Online</h2>
    <p>Pay your current amount due here!</p>
    <p><a class="btn btn-default" href="https://www.paypal.com/us/home">Learn More</a></p>
</div>

@if (Model.Invoices.Count > 0)
{

    <table class="table table-striped table-bordered">
        <tr>
            <th>Invoice #</th>
            <th>Date Issued</th>
            <th>Due Date</th>
            <th># Pickups</th>
            <th>Amount Due</th>
            <th>Action</th>
        </tr>
        @foreach (Invoice invoice in Model.Invoices)
        {
            <tr>
                <td>@invoice.InvoiceId</td>
                <td>@String.Format("{0:M/d/yyyy}", invoice.DateCreated)</td>
                <td>@String.Format("{0:M/d/yyyy}", invoice.DueDate)</td>
                <td>@invoice.Pickups.Count</td>
                <td>@String.Format("{0:C2}", invoice.AmountDue)</td>
                <td>
                    @Html.ActionLink("Pay Invoice", "Pay", "Invoice", routeValues: new { invoiceId = invoice.InvoiceId }, htmlAttributes: new { title = "Pay Invoice", @class = "btn btn-success btn-xs" })
                </td>
            </tr>

        }
    </table>
}