@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "User", routeValues: null, htmlAttributes: new { title = "Profile" });
            }
            else if(User.IsInRole("Employee"))
            {
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Pickups", "Profile", routeValues: new { todayOnly = true }, htmlAttributes: new { title = "Profile" });
            }
            else
            {
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Addresses", "Profile", routeValues: null, htmlAttributes: new { title = "Profile" });
            }
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
